@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* semantic color variables for this project */
:root {
  --color-background: #181818;
  --color-background-soft: #222222;
  --color-background-mute: #282828;

  --color-border: rgba(84, 84, 84, 0.48);
  --color-border-hover: rgba(84, 84, 84, 0.65);

  --color-heading: #EDEDED;
  --color-text: rgba(235, 235, 235, 0.64);
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
